.backgroundSection {
  background: var(--grey-4);
}

.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;

  & div:first-child {
    display: flex;
    flex-direction: column;
  }
}

.boxProfile {
  margin-top: 80px;
  display: flex !important;
  flex-direction: row !important;
  padding: 0 clamp(1.875rem, 5vw, 6.25rem);
  align-items: center;
  justify-content: flex-start;
  gap: 25px;

  color: var(--grey-2);

  img {
    width: 50px;
    border-radius: 100%;
  }
}

h1 {
  margin-top: 38px;
  color: var(--grey-1);

  & > em {
    color: var(--color-primary);
  }
}

.seeMyProjectsBox {
  display: flex;
  flex-direction: column;
  padding: 0 clamp(1.875rem, 5vw, 6.25rem);
  gap: 1.5625rem;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 15px;
}

.techlogies {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 clamp(1.875rem, 5vw, 6.25rem);
  gap: clamp(0rem, 3vw, 1.25rem);
}
.tech {
  color: var(--grey-3);
  width: clamp(1.875rem, 5vw, 3.125rem);
  height: clamp(1.875rem, 5vw, 3.125rem);
  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
  }

  &.node {
    width: clamp(2.5rem, 5vw, 4.375rem);
    height: clamp(2.5rem, 5vw, 4.375rem);
  }
}

aside {
  display: flex;

  img {
    width: 400px;
    height: 31.25rem;
    object-fit: cover;
    filter: brightness(0.3);
  }
}

@media (max-width: 813px) {
  aside {
    display: none;
  }
}
