:root {
  // Font
  --font-primary: "Inter", sans-serif;

  // Primary Palette
  --color-primary: #623cea;
  --color-primary-50: #311e75;
  --color-Secondary: #50cf9a;
  --color-Secondary-50: #e5f8f0;
  --color-tertiary: #ff577f;
  --color-tertiary-50: #e5e9f8;
  --color-quaternary: #506ccf;

  // Social Medias
  --facebook: #364fc7;
  --instagram: #cf50ac;
  --linkedin: #0e76a8;


  //Grey Scale Palette
  --grey-5: #000000;
  --grey-4: #0f1010;
  --grey-3: #868e96;
  --grey-2: #e9ecef;
  --grey-1: #f8f9fa;
  --grey-0: #171818;
}
