.sectionBackground {
  background: var(--grey-5);
}

.sectionTitle {
  margin-bottom: 80px;
  padding: 0 clamp(1.875rem, 5vw, 6.25rem);

  h2 {
    padding: 50px 0 20px 0;
  }
}

.sectionTitle p:nth-child(2) span {
  color: var(--color-tertiary);
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding: 0 clamp(1.875rem, 5vw, 6.25rem);
  gap: 60px;
  color: white;
  padding-bottom: 200px;
}
